*{
    margin: 0;
    padding:0;
}
.navbar{
    background: rgb(255, 255, 255);
}
.nav-container{
    display:flex;
    justify-content: space-between;
   
    height: 13vh;
}

.navlist ul{
    display: flex;
}
ul li{
    list-style: none;   
    padding: 29px 10px;
}

ul li a{
    color: black;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}
a .cart{
    background: #FE5F1E;
    margin-right: 20px;
    padding: 3px 10px;
    border: 2px solid #FE5F1E;
    border-radius: 38%;
    margin-top: -5px;
  
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left , .right{
    width:calc(50%-30px)
}
.left{
    margin-left: 50px;
}
.logo{
    margin: 18px 35px;
}
.heropizza{
    height: 520px;
    width: 660px;
    margin-top: 10px;
}
.order{
    color:white;
    background:#FE5F1E ;
    border-radius: 14px;
    padding: 7px 12px;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.7s;
    border: 2px solid #FE5F1E;
   
}
.addtocart{
    
    cursor: pointer;
}
.addtocart:hover{
    background: #FE5F1E;
    color: aliceblue;
}

.order:hover{
    background: white;
    color:#FE5F1E ;
}
html{
    scroll-behavior: smooth;
}
.orderbtn{
    margin-top: 27px;
}
.left h1{
    font-size: 60px;
    font-family: 'Lato', sans-serif;
}
.hero{
    background: #F8F8F8;
}
ul li a:hover{
    color: #FE5F1E;
}
.addcart{
    display: flex;
    margin-top: 16px;
    font-family:'Lato', sans-serif ;
    
}
.wrapper{
  
    margin-left: 57px;
    margin-top: 26px;
    margin-bottom: 25px;
}
.pizzacontain{
    display: flex;
    flex-wrap: wrap;
    transition: all 2s;
}
#msgcontain{
    position: relative;
    width: 100%;
   
    transition: all 2s;
}
#msg{
    position: absolute;
    right:20px;
    bottom:320px;
    display: none;
    transition: all 2s;

}

@media only screen and  (max-width:415px) {

    .right{
        margin-top: -89px;
       width: 70%;
    }
    .right img{
        width: 95%;
        height: 95%;
    }
    .left h1{
        font-size: 50px;
    }
    .left .orderbtn{
       
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
       margin-left: 55px;
    }
    .pizzacontain{
        margin-left: 50px;
    }
    
}